// font
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap");

// color palette
$blackColor: #141414;
$darkGray: #3d3d3d;
$lightGray: #9c9c9c;
$whiteColor: #ffffff;
$blueColor: #0444ac;
$orangeColor: #fc8404;

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  color: $blackColor;
  font-family: "Google Sans";
}

nav {
  .brand-logo {
    margin-left: 1rem;
    color: $blackColor;
    font-family: "Rowdies", cursive;
  }
  .navColor {
    background-color: transparent;
  }
  #logo {
    max-width: 9rem;
    max-height: 4rem;
  }
  ul {
    a {
      font-weight: 600;
      color: $blackColor;
      font-family: "Google Sans";
    }
  }
}
.customContainer {
  margin-left: 4rem;
  margin-top: 1rem;
  margin-right: 4rem;
}
.section {
  height: 90vh;
}
.mt5 {
  margin-top: 5rem;
}

#home {
  .banner-header {
    font-family: "Fjalla One", sans-serif;
  }
  .btn {
    span {
      display: inline-block;
      position: relative;
      transition: 0.5s;

      &::after {
        content: "\00bb";
        position: absolute;
        opacity: 0;
        top: 0;
        right: -10px;
        transition: 0.5s;
      }
    }
    &:hover {
      span {
        padding-right: 25px;

        &::after {
          opacity: 1;
          right: 0;
        }
      }
    }
  }
}

#services {
  .card {
    border-top: 6px solid #4a148c;
    .card-content {
      padding: 20px;
      height: 213px;

      h5 {
        font-weight: 700;
      }
    }

    .services-img {
      height: 80px;
      width: auto;
    }
  }
}

#why_us {
  card {
    box-shadow: none;
  }
}
#projects {
  .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }

  .grid .cell {
    margin-left: 0;
  }
  .card {
    overflow: hidden;
  }
  img {
    max-height: 152px;
    background-size: cover;
    background-position: center;
    border-radius: 6px;

    &:hover {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }
  }
}

#achievements {
  img {
    max-height: 150px;
    border-radius: 6px;
  }
}

#team {
  margin-top: 8rem;
  h5 {
    font-family: "Google Sans";
  }
  a {
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  .card {
    box-shadow: none;
    overflow: hidden;

    h5 {
      color: $blackColor;
    }
  }

  img {
    width: 250px;
    height: auto;
    max-height: 355px;
    border: 5px solid $orangeColor;
    filter: grayscale(100%);
    transition: all 0.5s ease-in-out;

    &:hover {
      filter: none;
      border: 5px solid $orangeColor;
    }
  }
}
#contact_us {
  margin-top: 8rem;
  h6 {
    color: $blueColor;
  }
}

h2 {
  font-family: "Google Sans";
  font-weight: 400;
}

.typewrite {
  color: $orangeColor;
}

// Banner section
.banner-section {
  margin-top: 7%;
}

.rounded {
  border-radius: 6px;
}
.card-image {
  .tab-img {
    margin: 0 auto;
    margin-top: 1.5rem;
  }
}

.dev-icon {
  font-size: 3rem;
  margin-right: 0.5rem;

  &:hover {
    color: $orangeColor;
  }
}

.btn {
  text-transform: none;
  background-color: $blackColor !important;
  border-radius: 5px;
}
.more-btn {
  height: 3.5rem;
  width: 13rem;
  font-size: 1.25rem;
  line-height: 3;
}
.secondary-link {
  margin-left: 1rem;
  text-transform: none;
  background-color: $whiteColor !important;
  color: $blackColor;
  border-bottom: 2px solid black;
}
.description {
  color: $darkGray;
}
.details {
  font-size: 1.2em;
}

// change tab color
.tabs {
  margin-bottom: 1rem;
  .tab {
    a {
      color: $lightGray;
    }
  }
} /*Black color to the text*/

.tabs {
  .tab {
    a:hover {
      background-color: $whiteColor;
      color: $blackColor;
    }
  }
} /*Text color on hover*/

.tabs {
  .tab {
    a.active {
      background-color: $whiteColor !important;
      color: $blackColor;
    }
  }
} /*Background and text color when a tab is active*/

.tabs {
  .indicator {
    background-color: $blackColor;
  }
} /*Color of underline*/
.input-field input:focus + label {
  color: $blueColor !important;
}
/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid $blueColor !important;
  box-shadow: 0 1px 0 0 $blueColor !important;
}

.input-field textarea:focus + label {
  color: $blueColor !important;
}
.row .input-field textarea:focus {
  border-bottom: 1px solid $blueColor !important;
  -webkit-box-shadow: 0 1px 0 0 $blueColor !important;
  box-shadow: 0 1px 0 0 $blueColor !important;
}
/* invalid color */
.input-field input[type="text"].invalid {
  border-bottom: 1px solid red !important;
  box-shadow: 0 1px 0 0 red !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: $blueColor !important;
}

// Hover underline animation effect
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: $blackColor;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $blackColor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

// Scrollbar design
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: $blackColor;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: $lightGray;
  border-radius: 8px;
}
@media only screen and (max-width: 600px) {
  .customContainer {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .banner-section {
    margin-top: 0;
  }

  #blob2 {
    display: none;
  }
}
